.container {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  padding-right: 50px;
}
.applications_header {
  margin: '10px';
  display: flex;
}

.input-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 50px;
  margin-bottom: 20px;
}

.info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
